<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="http://www.rcky.com.br/imagens/novo-estoque.png" alt="" />
    </ion-card>
    <ion-list lines="none">
        <form>
            <ion-list-header>
                <ion-label color="primary" position="undefined">O'que deseja fazer?</ion-label>
            </ion-list-header>
        </form>

        <form>
            <section>
                <ion-button type="submit" expand="block" size="large">TESTE</ion-button>
            </section>
        </form>

        <form>
            <section>
                <ion-button type="submit" expand="block" size="large">TESTE</ion-button>
            </section>
        </form>

        <form>
            <section>
                <ion-button type="submit" expand="block" size="large">TESTE</ion-button>
            </section>
        </form>

        <form>
            <section>
                <ion-button type="submit" expand="block" size="large">TESTE</ion-button>
            </section>
        </form>
    </ion-list>
</ion-content>